extends base.pug
block title 
    title About Our school 
block css-js 
    link(rel="stylesheet", href="../static/css/about.css")

block main-content
    h1.top-h1 Our School 
    p.top-p Our school is the best school in the whole Faisalabad. The teachers is the most skillful teachers in Faisalabad
    
    section.second-box
        .second-boxes(id="second-box-1")
            div 
                h1.principal-h1 Principal's Message
                p.principal-p Welcome to Govt Technical High School! We’re excited to have you join our school community. Remember to always be respectful to your teachers and peers, and follow the school's rules to create a safe and positive environment. Our team is here to support you as you grow and strive to be successful. Together, we’ll achieve great things!
                
            img(src="../static/images/principal.png" alt="no image yet").contact-images
        .second-boxes(id="second-box-3")

            img(src="../static/images/classes.png", alt="no image yet").contact-images
            div
                h1.principal-h1 Values & Vision
                ul 
                    li Be kind 
                    li Be respectfull 
                    li Be responsible 
                    li Work hard 
                    li Have fun
    //- second-boxes(id="second-box-2")

    section.second-box2
        .second-boxes2(id="second-box-1-2")
            img(src="../static/images/principal.png" alt="no image yet")
            div 
                h1.principal-h1 Principal's Message
                p.principal-p Welcome to Govt Technical High School! We’re excited to have you join our school community. Remember to always be respectful to your teachers and peers, and follow the school's rules to create a safe and positive environment. Our team is here to support you as you grow and strive to be successful. Together, we’ll achieve great things!
                
        .second-boxes2(id="second-box-3-2")
            img(src="../static/images/classes.png", alt="no image yet")
            div
                h1.principal-h1 Values & Vision
                ul 
                    li Be kind 
                    li Be respectfull 
                    li Be responsible 
                    li Work hard 
                    li Have fun
    h1.bottom-h1 Staff Directory
    p.top-p We have the most skillful and experienced teachers in the whole faisalabad. Our teachers have a great education
    div.teachers
        div.teacher
            h3 Sajid Sadiqque 
            p Principal 
            br
            a(href="") info@mysite.com
            p 123-456-7890
        div.teacher
            h3 Zeshan Ali 
            p ASSISTANT PRINCIPAL 
            br
            a(href="") info@mysite.com
            p 123-456-7890
        div.teacher
            h3 Akhtar Ali cheena 
            p SECRETARY 
            br
            a(href="") info@mysite.com
            p 123-456-7890
        div.teacher
            h3 Rana Rauf & Gulzar  
            p admission & extision 
            br
            a(href="") info@mysite.com
            p 123-456-7890
        div.teacher
            h3 Barkat Ali Mirza 
            p Library Incharge 
            br
            a(href="") info@mysite.com
            p 123-456-7890
        div.teacher
            h3 Rana Naeem Ahmad
            p physics & Maths Expert 
            br
            a(href="") info@mysite.com
            p 123-456-7890
        div.teacher
            h3 Shafiq-ur-Rehman
            p Chemistry & Biology expert 
            br
            a(href="") info@mysite.com
            p 123-456-7890
        div.teacher
            h3 Ishtiaq-ur-Rehman
            p Pt teacher 
            br
            a(href="") info@mysite.com
            p 123-456-7890