extends base.pug
block title 
    title Get admission in our school
block css-js 
    link(rel="stylesheet", href="../static/css/admission.css")

block main-content 
    h1.top-h1 Admission open 
    p.top-p Join Us at GTHS <br> Admissions are now open! Apply today to be part of a vibrant learning community where students thrive academically and personally. Discover the opportunities awaiting you at GTHS.

    section.second-box
        .second-boxes(id="second-box-1")
            div.admission-first
                h1.addmission-h1 Open House Information
                p.admission-p We warmly invite you to our Open House at GTHS! This event offers prospective students and their families the opportunity to explore our campus, meet our passionate faculty, and discover the programs and activities that make our school unique. During the Open House, you will get a guided tour of our state-of-the-art facilities, engage in interactive sessions, and have the chance to ask any questions you may have about academics, student life, and more.
            div.admission-second
                h1.admission-h1 Prospective <br> Parents & Students
                p.admission-p At GTHS, we offer a nurturing environment where students thrive academically and personally. Our programs are designed to challenge and inspire, with dedicated faculty supporting each student’s journey.We invite you to explore our school, meet our team, and discover how GTHS can help your child achieve their full potential.
        .second-boxes(id='second-box-2')
            img(src="../static/images/admission.png", alt="new admited students")
    //- box 2
    section.second-box2
        .second-boxes2(id="second-box-1-2")
            div.admission-first
                h1.addmission-h1 Open House Information
                p.admission-p We warmly invite you to our Open House at GTHS! This event offers prospective students and their families the opportunity to explore our campus, meet our passionate faculty, and discover the programs and activities that make our school unique. During the Open House, you will get a guided tour of our state-of-the-art facilities, engage in interactive sessions, and have the chance to ask any questions you may have about academics, student life, and more.
            div.admission-second
                h1.admission-h1 Prospective <br> Parents & Students
                p.admission-p At GTHS, we offer a nurturing environment where students thrive academically and personally. Our programs are designed to challenge and inspire, with dedicated faculty supporting each student’s journey.We invite you to explore our school, meet our team, and discover how GTHS can help your child achieve their full potential.
        .second-boxes2(id='second-box-2-2')
            img(src="../static/images/admission.png", alt="new admited students")

            